.home-main-section {
    height: 100vh;

    // border: 2px solid red;
    padding: 2% 0 0;
    background: url("../../images/kelly-sikkema-9OGNpJPVMZ8-unsplash.jpg") center;
    background-size: cover;
     .home-internal-container{
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-image: linear-gradient(to top, transparent -30%, rgba(249, 243, 229, 0.7) 90%);
        padding: 0 15%;
        text-align: center;
        font-family: sans-serif;
        padding-top: 4%;
        

        h3 {
            font-size: calc(1rem + 1.5vw);
            // color:#074b86;
            color: #345e9e;
            font-weight: bold;
            font-family: Georgia, 'Times New Roman', Times, serif;

        }
        h5 {
            font-size: calc(.5rem + .5vw);
            margin-top: 2vh;
            // color:#074b86;
            color: #345e9e;

        }
        h4 {
            font-size: calc(11px + .8vw);
            // color: chocolate;
            margin-top: 7vh;
            padding-left: 30%;
            text-align: left;
            width: 100%;
        }
        .Typewriter {
            display: inline-block;
            color: #244f90;

        }
        .home-button-container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 6vh 0;
           
            .home-get-started {
                padding: 5px 10px;
                color: whitesmoke;
                background-color: rgba(223, 194, 251,.3);
                font-size: calc(.8rem + .8vw);
                border: 2px solid whitesmoke;
                border-radius: 200px;
                // font-weight: bold;

                cursor: pointer;

                &:hover {
                    background-color: transparent;
                    border: 2px solid rgb(130, 242, 242);
                }
            }
        }
    }
}

.Typewriter__cursor {
    // background-color: red;
    color: blueviolet;
}

.home-second-section-main-container {

    background-color: rgb(250, 248, 248);
    padding: 70px 1% 4vh;

    .sec-home-we-provided {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 8vh 2vw;
        .solution-box {
            display: flex;
            width: clamp(330px ,30%, 100%);
            height: 220px;
            // border: 2px solid black;
            margin: 2vh 1.5vw;
            border-radius: 10px;
            background-color: white;
            box-shadow: 0 0 8px rgba(70, 100, 199, 0.6);
            cursor: pointer;
            .ankertolink{
                display: flex ;
            }
            &:first-child {
                border-top: 5px solid red;
                &:hover {
                    box-shadow: 0 0 8px red;
                }

            }
            &:nth-child(2) {
                border-top: 5px solid brown;
                &:hover {
                    box-shadow: 0 0 8px brown;
                }
            }
            &:nth-child(3) {
                border-top: 5px solid green;
                &:hover {
                    box-shadow: 0 0 8px green;
                }
            }
            &:nth-child(4) {
                border-top: 5px solid orange;
                &:hover {
                    box-shadow: 0 0 8px orange;
                }
            }
            span {
                width: 50%;
                height: 100%;
                padding: 10px;
                &:first-child {
                    font-size: calc(1rem + .8vw);
                    color: #345e9e;
                    font-weight: bold;
                    margin: 5%;
                }
                &:nth-child(2) {
                    padding: 3%;
                    display: grid;
                    align-items: center;
                    justify-content: center;
                    img {
                        width: 80%;
                        height: 80%;
                    }
                }
            }
        }
    }
}
.sec-home-headding {
    font-size: calc(1rem + 1vw);
    color: #345e9e;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 2px solid black;
    font-weight: bolder;
    padding: 10px 0;
    margin:2vh 4vw;
}
.about-us-main-container {
    height: auto;
    padding-top: 8vh;
}
.home-location-contact-container {
    display: flex;
    flex-wrap: wrap;
    padding: 1vw 0;
    .contact-us-page-form {
        width: 65%;
        // background-color: aquamarine;
        padding: 1vw 3vw;
        .contact-forme-row {
            display: flex;
            div {
                width: 50%;
                padding: 2vw;
                label {
                    font-size: calc(.8rem + .8vw);
                    color: #345e9e;

                }
                input {
                    width: 100%;
                    font-size: calc(.6rem + .6vw);
                    padding: 0.3vw 0;
                    margin-top: 0.7vw;
                    border: none;
                    outline: none;
                    border-bottom: 2px solid rgb(167, 227, 217);
                    color: rgba(12, 12, 12, 0.7);
                    &::placeholder {
                        color: rgba(12, 12, 12, 0.5);
                    }
                }
            }
        }
        .contact-form-massage-row {
            width: 100%;
            padding: 2vw;
            label {
                font-size: calc(.8rem + .8vw);
                color: #345e9e;
            }
            textarea {
                width: 100%;
                resize: none;
                margin-top: 0.3vw;
                font-size: calc(.6rem + .6vw);
                padding: 0.5vw;
                border: none;
                outline: none;
                border: 2px solid rgb(167, 227, 217);
                &::placeholder {
                    color: rgba(12, 12, 12, 0.5);
                }
            }
        }
    }
    .contact-us-location {
        width: 35%;
        // background-color: red;
        padding: 2vw;
        display: flex;
        align-items:stretch;
        justify-content: center;
        ul {
            list-style: none;
            li {
                margin: 30px 0;
                //   border: 1px solid black;
                padding: 1vw;
                .contact-icon-name {
                    display: flex;
                    align-items: center;
                    span {
                        font-size: calc(.6rem + .6vw);
                        font-weight: bold;
                        margin-left: 1vw;
                        color: rgba(19, 18, 18,.8);
                        p {
                            font-size: calc(.5rem + .5vw);
                            font-weight: 400;
                            margin-top: 0.2vw;
                            color: rgb(69, 178, 178);
                        }

                    }
                }
            }
        }

    }
}
.submit-form-button{
    font-size: calc(.7rem + .7vw);
    font-weight: bold;
    outline: none;
    border: 2px solid #244f90;
    color: white;
    background-color: #5483ca;
    padding: .4vw  1vw;
    margin: 0 2vw;
    cursor: pointer;
    border-radius: 200px;
}
.contact-icon {
    font-size: calc(.7rem + .7vw);
    background-color: rgba(160, 222, 222,.4);
    padding: 0.7vw;
    border-radius: 200px;
    color: #345e9e;
    cursor: pointer;
    &:hover {
        background-color: rgb(183, 249, 227);
    }
}

.home-footer{
.footer-Copyright{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5vh 5vw;
    background-color: whitesmoke;
    span{
        &:first-child{
            font-size: calc(0.4rem + 1.2vw);
            color: #5b83be;
        }
        &:nth-child(2){
            text-align: center;
        }
    }
}
}
.footer-icon{
    font-size: calc(.8rem + .8vw);
    color: #5483ca;
    padding: .5vw;
    background-color: rgb(163, 233, 209);
    border-radius: 200px;
    margin: .4vw;
    cursor: pointer;
    &:hover{
        background-color: rgb(71, 145, 219);
        color: white;
    }
}


.home-blog-section{
    width: 100%;
    height: auto;
    padding-top: 10px;
    overflow: hidden;
}

.back-icon{
    font-size: calc(1rem + .5vw);
    color: blue;
    margin: 1vw 2vw;
    font-weight: bold;
    cursor: pointer;
    padding: .3vw;
  
    
}


// ? About style
.about-content-container{
    display: flex;
    flex-wrap: wrap-reverse;
    div{
       
        padding: 2vw;
        &:first-child{
            width: 55%;
            p{
                font-size: calc(.8rem + .6vw);
                margin: 3vw;
                // text-align: justify;
                color: rgba(4, 4, 4,.6);
            }
        }
        &:nth-child(2){
            width: 45%;
            display: flex;
            align-items: center;
            justify-content: center;

            .imgae-frame{
                width:320px !important;
                height: 320px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: whitesmoke;
                border-radius: 200px;
                box-shadow: 0px 0px 9px rgba(51, 62, 51, 0.6);
                img{
                    width: 90%;
                    height: 90%;
                    border-radius: 200px;
                    box-shadow: 0px 0px 9px rgba(125, 138, 225, 0.6);
                }
            }
        }
    }
}





@media (max-width:900px) {
    .about-us-main-container {
        padding-top:90px ;
    }
   
    .about-content-container{
        
        div{
            width: 100% !important;
        &:first-child{
           
            p{
                font-size: calc(1rem + .7vw);
                text-align: justify;
              
            }
        }
        &:nth-child(2){
            padding: 5vh 0;
        }
        }
    }




    .home-main-section {
        // background: url("../../images/siora-photography-hgFY1mZY-Y0-unsplash.jpg") center;
        // background-size: cover;

        .home-internal-container {
            padding: 0 5% !important;
            text-align: left !important;
            line-height: 30px;

            h3 {
                font-size: calc(17px + 1vw) !important;

            }
            h5 {
                font-size: calc(10px + .6vw) !important;
            }
            h4 {
                width: 100%;
                width: 90% !important;
                padding-left: 10% !important;
                // .Typewriter {
                //     display: block;
                //     color: #244f90;

                // }
            }
        }
    }

    .home-location-contact-container {
        flex-wrap: wrap;

        div {
            width: 100% !important;
        }
    }
}
