
.icon1 {
    position: fixed;
    top: 3.5%;
    left: 30px;
    color: rgb(248, 241, 241);
    display: none;
    cursor: pointer;

}
#so {
    display: none;
}
.header-right-profile{
    position: absolute;
    right: 3%;
    top: 15%;
    padding: 10px;
}
.header-logo{
    position: absolute;
    display: inline-block;
    top: -27%;
    left: 5%;
    width: 100px;
    height: 90px;
    

}
.header {
    padding: 1.5vw .7vw;
    background-color: whitesmoke;
    box-shadow: 0px 0px 10px rgba(34, 33, 33,.5);
    // background-color: #095296;
    position: fixed;
    z-index: 99999;
    width: 100%;

}
.unorder-list {
    list-style: none;
    // float: right;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 20%;

}
.unorder-list > li ,.list,.unorder-list>li>a{
    //    display: inline;
    text-decoration: none;
    // color: white;
    color: rgb(143, 139, 139);
    font-size: calc( 10px + .2vw);
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    margin: 0 0.9vw;
    cursor: pointer;
    &:hover {
        color: rgb(12, 12, 12);
    }
}
.header-hepline-box {
    border: 1px solid white;
    text-align: center;
    list-style: none;
    padding: 0.1vw 0.2vw;
    line-height: 14px;
    li {
        &:nth-child(2) {
            font-size: calc(.4rem + .3vw);
            text-align: end;
            padding-right: 17%;

        }
    }
}


@media (max-width:900px) {
    .header {
        height: 8.5vh;
        max-height: 80px;
        background-color: white;
        position: fixed;
        width: 100%;
        z-index: 99999;
        border: 1px solid rgba(217, 216, 216,.3);

    }
    .icon1 {
        display: block;
        font-size: 22px;
        color: #001F5A;
        z-index: 9999999999;
    
    }
    .unorder-list {
        display: flex;
        // align-items:center;
        justify-content: initial;
        flex-direction: column;
        margin-top: 8vh;
        //  border: 2px solid red;
        padding-top: 25px;
        height: 90vh;
        width: 100%;
        background-color: #095296;
        transition: all .7s;
        transform: translateX(-102%);
        
    }
    #so:checked~.header>.unorder-list{
        transform: translateX(0%);
                }
    .unorder-list > li,.list {

        font-size: calc( .8rem + 1.3vw);
        margin: 1vh;
        border: 1px solid transparent;
        width: 100%;
        padding: 1.5vh;
        text-align: center;
        cursor: pointer;
        &:hover {
            color: aqua;
            background-color: rgba(52, 52, 52,.6);
            // border: 1px solid;
        }
        &:nth-child(9) {
            display: none;
        }
        &:nth-child(10) {
            display: none;
        }

    }
    .icon4{
        font-size: 1.7rem !important;
        color: #095296 !important;
    }
    .icon4,.icon5 {
        font-size: 2rem;
        padding: 1vw;
        // margin-top: 1vw;
        color: green;
        // border: 3px solid #001F5A;
        // border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
    }
  
  
}
