:root {
    --simple: clamp(16px,1.1vw,22px);
    --name: clamp(18px,1.3vw,25px);
    --para: clamp(14px,1vw,20px);
    --para_color: rgb(107, 104, 104);
}
.profile-container {

    background-color: rgba(218, 245, 248,.6);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.proifl-box {
    &:first-child {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    &:nth-child(2) {
        width: 70%;
    }
    padding: 20px 10px;
    // border: 1px solid red;
    .profile-data-contaier {
        position: relative;
        width: 240px;
        height: 240px;
        border-radius: 200px;
        // border: 1px solid rebeccapurple;
        .profile-logo {
            border-radius: 200px;
        }
        .addImgIcon {
            position: absolute;
            font-size: 30px;
            padding: 8px 10px;
            background-color: blue;
            color: white;
            border: 1px solid black;
            border-radius: 50%;
            bottom: 5%;
            right: 5%;
            cursor: pointer;
        }
    }
}
.Edit-profile-details-icon {
    font-size: 18px;
    color: rgb(81, 81, 233);
    float: right;
    cursor: pointer;
}
.name-details-contaier {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    // border: 1px solid green;
    padding: 1vh 2vw;
    .data {
        width: 50%;
        // border: 1px solid rgb(31, 80, 178);
        h3 {
            font-size: var(--name);
        }
        p {
            font-size: var(--para);
            color: var(--para_color);
            margin: 1vh 1vw;
        }
    }
}

.tab-contents {
    // border: 1px solid blue;
    ul > li {
        list-style: none;
        font-size: var(--para);
        color: var(--para_color);
        padding: 0.4vh 0.0vw;
        margin: 0.5vh 0;
        span {
            font-weight: 400;
            color: black;
            margin: 0.5vh 0;
        }
    }
}

.blog-input-details-container {
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    .blog-input-heading {
        margin: 0;
        font-size: var(--name);
    }

}
.bloag-container-form .blog-button {
    font-size: calc(0.5rem + 0.4vw);
    padding: 5px;
}
.bloag-container-form label span {
    font-size: calc(0.5rem + 0.5vw);
}
.bloag-container-form label input {

    padding: 4px;
    font-size: calc(0.5rem + 0.4vw);
}

.bloag-container-form label {

    margin: 1vh 4%;
}
.bloag-container-form .blog-details {height: 14vh;}
@media (max-width:900px) {
    .proifl-box {
        width: 100% !important;
    }

    .name-details-contaier {

        .data {
            width: 100%;

        }
    }
}
