:root {
    --logoblue: #345e9e;
}
.main-container-notes-page {
    padding: 5px 3%;
    background-color: rgba(242, 249, 249,.8);
}
.notes-page-back-icon {
    font-size: 22px;
    cursor: pointer;
    float: left;
}
.top-hedder-back-frame {
    display: inline-block;
    width: 100%;
    text-align: center;
    
    span {

        display: inline-block;
        font-size: calc(.7rem + 0.9vw);
        font-weight: bold;
        margin: 1vw;
        padding: 0.5vw;
        margin-bottom: 1vh;
        color: rgb(32, 79, 97);

        border-bottom: 3px solid blue;
    }

}
.url-linkshows{
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    float: left;
    span{
        font-size: calc(10px + .5vw);
        color: rgb(146, 145, 145);
    }
}
.banch-slected-opction {
    margin: 2vh 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}
.year-branch2,
.years-branch1 {
    width: 30%;
    margin: 10px 5px;
    font-size: calc(13px + .7vw);
    text-align: center;
    background-color: white;
    border-radius: 8px;
    padding: 10px 0;
    color: var(--logoblue);
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(46, 44, 44,.3);
    &:hover {
        box-shadow: 0 0 10px rgba(139, 153, 233, 0.8);
        color: rgb(68, 11, 200);
    }
}
.year-branch2 {
    box-shadow: 0 0 10px rgba(139, 153, 233, 0.8);
    color: red;
    &:hover {
        color: red;
    }

}
.all-years-notes-head {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: white;

}

.year-sub2,
.years-subjects {
    width: 25%;
    text-align: center;
    font-size: calc(11px + 1vw);
    border: 2px solid rgba(213, 198, 198,.2);

    background-color: rgba(178, 178, 252,.2);
    color: var(--logoblue);

    padding: 0.5vh 0;
    cursor: pointer;
    &:hover {
        border-top: 2px solid black;

    }
}
.year-sub2 {
    border-bottom: 2px solid transparent;
    background-color: white;

    color: blue;
    border: 2px solid rgba(213, 198, 198,.0);
    // border-radius: 0 0px 10px 10px;
    border-top: 2px solid blue;

}

.subject-of-yearas {
    border: 2px solid rgba(213, 198, 198,.2);
    border-top: none;
    background-color: white;

}
.slect-branch-name {
    font-size: calc(14px + .6vw);
    // margin: 10px;
    padding: 10px;
}

// -------------------------- subject name component ---------------------------------------------------//

.subjtect-name-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    // border: 2px solid green;
    .subject-one {
        width: calc(200px + 10%);
        padding: 10px;
        margin: 2vw;
        font-size: calc(12px + .5vw);
        border: 2px solid transparent;
        box-shadow: 0 0 10px rgba(47, 46, 46,.2);
        cursor: pointer;
        &:nth-of-type(odd) {
            border-left: 4px solid red;
            &:hover {
                box-shadow: 0 0 16px rgba(155, 63, 63, 0.7);
                border-radius: 0 4px 4px 0;
            }
        }
        // &:nth-of-type(3n+2){
        //     border-left: 4px solid rgb(14, 232, 36);
        // }
        &:nth-of-type(even) {
            border-left: 4px solid rgb(22, 26, 234);
            &:hover {
                box-shadow: 0 0 16px rgba(60, 111, 199, 0.7);
                border-radius: 0 4px 4px 0;
            }
        }

    }
}
.back-icon {
    font-size: calc(1rem + 0.5vw);
    color: blue;
    margin: 0.5vw 1vw;
    font-weight: bold;
    cursor: pointer;
    padding: 0.1vw;
}




// -------------------------------------- main-subject-notes-page-container ------------------------------------------//

.main-subject-notes-page-container{
    padding: 5px 3%;
    
}
.subject-heating-name{
    margin: 0px !important;
    padding: 0 0 .5vw 0 !important;
}
.notes-subject-details-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    // border: 2px solid red;
    padding: .5vh 3px;
}
.add-Notes-of-this-subject{
    width: 25%;
    font-size: calc(12px + .7vw);
    color: var(--logoblue);
    margin: 2vh 3%;
    padding: 3px;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid rgba(143, 132, 132, 0.1);
    outline: none;
    background: blure(10);
    &:hover{
        background-color: rgb(212, 201, 201);
        color: blueviolet;
    }
}
.box-of-nodes-provided-by-any{
    width: 25%;
    min-width: 280px;
    // border: 1px solid rgb(190, 195, 190);
    box-shadow: 0px 0px 10px rgba(53, 52, 52,.3);
    padding: 10px;
    border-radius: 5px;
    margin: 2% 4%;
    h3{
        font-size: calc(13px + .7vw);
    }
    .box-notes-description{
        width: 100%;
        height: 130px;
        max-height:200px;
        overflow: auto;
    }
    p{
        font-size: calc(10px + .5vw);
        margin: 10px 0;
        overflow: hidden;
     
        span{
            font-weight: bold;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-style: oblique;
            float: right;
        }
    }
    a{
      text-decoration: none;   
     .download-Notes-button{
        width: 100%;
        font-size: calc(12px + .55vw);
        padding: 4px;
        margin: 9px 0px;
        border: 2px solid whitesmoke;
        border-radius: 5px;
       
        text-align: center;
        cursor: pointer;
        &:hover{
            background-color: whitesmoke;
            color: #345e9e;
            box-shadow:inset 0px 0px 10px rgba(82, 79, 79,.2);
        }
      }
    }

}
.add-notes-form-conatiner{
    width: 70%;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #eaeef6;
    padding: 3%;
    .close-input-notes{
        position: absolute;
        right: 40px;
        top: 20px;
        font-size: calc(14px + .6vw);
        padding: 10px;
        cursor: pointer;
        color: #345e9e;
        &:hover{
            color: red;
        }
    }
}
.input-notes-form-data{
    label{
        font-size:calc(12px + .5vw);
        display: block;
        margin: 2vh 0;
        input{
            display: block;
            width: 100%;
            padding: 5px;
            margin: 7px 0;
            outline: none;
            border: none;
            font-size:calc(11px + .5vw);
            border: 2px solid transparent;
            &:focus-within{
                border-bottom: 2px solid var(--logoblue);
            }
           
        }
    }
    .submit-button-notes{
        border: none;
        font-size: calc(12px + .5vw);
        font-weight: bold;
        padding: 10px;
        background-color: #345e9e;
        color: white;
        border-radius: 10px;
        cursor: pointer;
        &:active{
            color: red;
        }
        &:hover{
            background-color: #4f6e9b;
            color: whitesmoke;
        }
    }

}
@media (max-width:700px) {
    .box-of-nodes-provided-by-any{
        width: 95%;
      
    }
    .subject-one {
        width: 100% !important;
    }
    .years-branch1 {
        width: 100%;
    }
    .year-branch2 {
        width: 100%;
      
    }
    .subject-heating-name{
        margin: 10px !important;
        
    }
    .add-Notes-of-this-subject{
        span{
            display: none;
        }
    }
    .add-notes-form-conatiner{
        width: 100%;}
}
