.main-container-of-QustionPaper{
    padding: 1vh 3%;
}
// input form data taking question parper form user
.form-input-question-paper-data{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 73%;
  background-color: rgba(238, 230, 230,.4);
  border-radius: 10px;
  padding: 2vw;
  .cancel-qp{
    font-size: calc(12px + .6vw);
    position: absolute;
    top: 20px;
    right: 2vw;
    &:hover{
        color: red;
    }
  }
}

.form-frame-qp{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    fieldset{
        width: 43%;
        min-width: 300px;
        border: 2px solid whitesmoke;
        background-color: white;
        border-radius: 4px;
        margin: 2vh 0;
        legend{
            padding: 0 .5vw;
            padding-top: .5vh;
            margin-left: .7vw;
            font-size: calc(12px + .5vw);
            font-weight: bold;
            background-color: white;
            border-radius: 4px;
        }
        input{
            font-size: calc(12px + .5vw);
            color: rgb(63, 60, 60);
            width: 100%;
            padding: .5vw;
            outline: none;
            border: none;
            // border: 1px solid whitesmoke;
            &::placeholder{
                color: rgb(110, 107, 107);
                font-size: calc(12px + .5vw);
            }
        }
    }
}

.submit-button{
font-size: calc(12px + .6vw);
color: white;
background-color: rgb(73, 73, 207);
padding: 5px 1vw;
border: none;
outline: none;
cursor: pointer;
margin-top: 2vh;
&:hover{
background-color: blueviolet;
}
}


@media (max-width:800px){
    .form-input-question-paper-data{
        width: 93%;
        fieldset{
            width: 100% !important;
            min-width: 250px;
        }
      }
}